
.contenedor-testimonios{
  width: 950px;
  display: flex;
  margin: 25px 0;
}

.contenedor-testimonios:hover{
  transform: scale(1.1);
}


.contenedor-texto{
  background-color: white;
  padding: 70px 10px;
}

.nombre-testimonio{
  text-align: center;
  padding-bottom: 10px;
}

.empresa-testimonio{
  text-align: center;
  padding-bottom: 30px;
  font-weight: 700;
}

.texto-testimonio{
  text-align: justify;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0 25px;
}

