figure{
  width: 250px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
}

figure:hover{
  transform: scale(1.1);
}

figure img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

figcaption{
  border-top: 2px solid black;
  background-color: black;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
}