
.contenedor-principal{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.contenedor-principal h1{
  margin: 40px 0;
  border-bottom: 3px solid #fad61e;
  color: white;
}

.contenedor-pokemons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  max-width: 1300px;
  gap: 30px;
  padding: 30px 15px;
}
